


*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;

}
/*#btnhome{
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.5s ease;
	margin-left: 10px;
	margin-top: 10px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    border-spacing: 15px;
    float: right;
}

#btnhome:hover{
	background-color: #fff;
	color: #000;
}

#btnhome{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}*/



ul{
	float: right;
	list-style-type: none;
	margin-top: 5px;
}

/*ul li{
	display: inline-block;

}*/

ul li a{
	/*text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.5s ease;*/

	padding: 5px 5px;
	border: 1px solid #fff;
	transition: 0.5s ease;
	margin-left: 10px;
	margin-top: 10px;
    background: linear-gradient(270deg,transparent, blue);
    border-spacing: 15px;
    float: right;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}



.logo img{
	float: left;
	width:300px;
	height: auto;
	padding: 0px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	font-size: 29px;
	color: white;
	font-family: comic sans MS;
}


.button
{
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	margin: 41px 0;
	color: green;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
}


.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}


a:nth-child(1)
{
	filter: hue-rotate(290deg);
}
a:nth-child(3)
{
	filter: hue-rotate(110deg);
}



a:hover
{
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
	            0 0 25px #03e9f4,
	            0 0 50px #03e9f4,
	            0 0 200px #03e9f4,
}
a span
{
	position: absolute;
	display: block;
}

a
{
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	margin: 41px 0;
	color: #03e9f4;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
a span:nth-child(1)
{
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#03e9f4);
	animation: animate1 1s linear infinite;
	animation-delay: 0s;
}
@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;
	}
}
a span:nth-child(2)
{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}
@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}
a span:nth-child(3)
{
	bottom: 0;
	right:-100%;
	width: 100px;
	height: 2px;
	background: linear-gradient(270deg,transparent,#03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
}
a span:nth-child(4)
{
	bottom: -100;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.5s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}