*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img{
	float: left;
	width:220px;
	height: auto;
	padding: 0px;
}
.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	font-size: 29px;
	color: white;
	font-family: comic sans MS;
}

